@charset "UTF-8";

.postDetailLayout {
	width: 1080px;
	height: 550px;
}

.postDetailInput {
	margin-top: 40px;
	margin-left: 45px;
	width: 900px;
}

.postDetailTextArea {
	resize: none;
}

.postDetailPhotoSlider {
	max-height: 300px;
}